body {
    height: 200vh;
    background-color: #f6d8ac;
    margin: 0;
}

nav {
    position: fixed;
    background-color: #f6d8ac;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 100%;
    z-index: 99;
}

#menu-links {
    position: relative;
    font-size: 150%;
    padding: 15px;
    margin-block-start: auto;
    text-align: center;
}

#menu-links > a {
    position: relative;
    color: #7e9a9a;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
}


#information-blocks {
    display: flex;
    padding: 150px;
    justify-content: space-between;
    background: url(/assets/images/pexels-format-1029757.jpg) no-repeat;
    background-size: cover;
}

#information {
    width: 25%;
    padding: 15px;
    border: 1px solid #7e9a9a;
    border-radius: 10px;
    color: #7e9a9a;
    background-color: white;
    opacity: 0.98;
    text-align: center;
}
