body {
    height: 200vh;
    background-color: #f6d8ac;
}

nav {
    position: fixed;
    background-color: #f6d8ac;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    z-index: 99;
}

#menu-links {
    position: relative;
    font-size: 120%;
    margin-top: 20px;
    padding: 10px;
    margin-block-start: auto;
    text-align: center;
}

#menu-links > a {
    position: relative;
    color: #7e9a9a;
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none;
    justify-content: center;
}

#border {
    border: 1px solid #7e9a9a;
}

#header-photo {
    background: url(/assets/images/pexels-tranmautritam-326503.jpg) no-repeat;
    padding: 40px;
    width: 100%;
    height: 350px;
    background-size: cover;


}

#information-blocks {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: url(/assets/images/pexels-format-1029757.jpg) no-repeat;
    background-position: ;
    background-size: cover;
    object-fit: cover;
}

#information {
    width: 25%;
    padding: 15px;
    border: 1px solid #7e9a9a;
    border-radius: 10px;
    color: #7e9a9a;
    background-color: #f6d8ac;
    opacity: 0.98;
}
